<!DOCTYPE html>
<html>
<head>
<title>SweSESCI Scholars - Details</title>
</head>

<style type="text/css">
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  background: #6c7ae0;
}
td {
  border: 1px solid black;
}
tr:not(:first-child) {
  counter-increment: row-num;
}
td:first-child::before {
  content: counter(row-num) ". ";
}
tr:hover {
  background-color: #ececff;
  cursor: pointer;
}
</style>

<body>
<table id="scholarTable" cellpadding="10">
  <caption>SweSESCI scholars: Click on a header to sort by the corresponding column.</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">#Publ.</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
    <th onclick="sortTable(5)">Signature works</th>
  </tr>
        {% for value in swese_scholars  %}
      <tr>
        <td></td>
        <td>{{ value.name }}</td>
        <td>{{ value.affiliation }}</td>
        <td>{{ value.nbr_publications }}</td>
        <td>{{ value.research_interests_string }}</td>
        <td>{{ value.signature_works }}</td>
      </tr>
        {% endfor %}
</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("scholarTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (n <= 2) {
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      else {
        if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
        else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>