<table id="affiliationTable" cellpadding="10">
    <caption>Swe-SE-SCI affiliations and apparent research topics</caption>
    <tr>
        <th></th>
        <th>Affiliation</th>
        <th>#SSS scholars</th>
        <th>#SCI publlications</th>
        <th>Research topics</th>
    </tr>
    {% for value in sss_affiliations  %}
    <tr>
        <td></td>
        <td>{{ value.name }}</td>
        <td>{{ value.nbr_scholars }}</td>
        <td>{{ value.nbr_first_sci }}</td>
        <td>{{ value.topics_string }}</td>
    </tr>
    {% endfor %}
</table>

<table id="scholarTable-interests" cellpadding="10">
    <caption>Swe-SE-SCI scholars: Click on a header to sort by the corresponding column.</caption>
    <tr>
        <th></th>
        <th onclick="sortTable(1)">Scholar</th>
        <th onclick="sortTable(2)">Affiliation</th>
        <th onclick="sortTable(3)">SSS rating</th>
        <th onclick="sortTable(4)">Apparent research interests</th>
    </tr>
    {% for value in sss_scholars %}
    <tr>
        <td></td>
        <td>{{ value.name }}</td>
        <td>{{ value.affiliation }}</td>
        <td>{{ value.sss_rating }}</td>
        <td>{{ value.research_interests_string }}</td>
    </tr>
    {% endfor %}
</table>

<table id="scholarTable-works" cellpadding="10">
    <caption>Signature works by Swe-SE-SCI scholars: Click on a header to sort by the corresponding column.</caption>
    <tr>
        <th></th>
        <th onclick="sortTable(1)">Scholar</th>
        <th onclick="sortTable(2)">Affiliation</th>
        <th onclick="sortTable(3)">SSS rating</th>
        <th onclick="sortTable(5)">Signature SSS works</th>
    </tr>
    {% for value in sss_scholars  %}
    <tr>
        <td></td>
        <td>{{ value.name }}</td>
        <td>{{ value.affiliation }}</td>
        <td>{{ value.sss_rating }}</td>
        <td>{{ value.signature_works }}</td>
    </tr>
    {% endfor %}
</table>

<table id="scholarTable-metrics" cellpadding="10">
    <caption>Bibliometrics for Swe-SE-SCI scholars: Click on a header to sort by the corresponding column.</caption>
    <tr>
        <th></th>
        <th onclick="sortTable(1)">Scholar</th>
        <th onclick="sortTable(2)">Affiliation</th>
        <th onclick="sortTable(3)">#Publ.</th>
        <th onclick="sortTable(4)">SCI ratio</th>
        <th onclick="sortTable(5)">1st ratio</th>
        <th onclick="sortTable(6)">SSS contrib.</th>
        <th onclick="sortTable(7)">SSS rating</th>
    </tr>
    {% for value in sss_scholars  %}
    <tr>
        <td></td>
        <td>{{ value.name }}</td>
        <td>{{ value.affiliation }}</td>
        <td>{{ value.nbr_publications }}</td>
        <td>{{ value.sci_ratio }}</td>
        <td>{{ value.first_ratio }}</td>
        <td>{{ value.sss_contrib }}</td>
        <td>{{ value.sss_rating }}</td>
    </tr>
    {% endfor %}
</table>


