<!DOCTYPE html>
<html>
<head>
<title>SweSE Scholars</title>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<table id="scholarTable" cellpadding="10">
  <caption>SweSE scholars: Click on a header to sort by the corresponding column.</caption>
  <tr>
    <th onclick="sortTable(0)">Scholar</th>
    <th onclick="sortTable(1)">Affiliation</th>
    <th onclick="sortTable(2)">#Publ.</th>
    <th onclick="sortTable(3)">SCI ratio</th>
    <th onclick="sortTable(4)">1st ratio</th>
    <th onclick="sortTable(5)">SweSE rating</th>
    <th onclick="sortTable(6)">SweSE a</th>
    <th onclick="sortTable(7)">SweSE b</th>
    <th onclick="sortTable(8)">Apparent research interests</th>
    <th onclick="sortTable(9)">Signature works</th>
  </tr>
        {% for value in swese_scholars  %}
      <tr>
        <td>{{ value.name }}</td>
        <td>{{ value.affiliation }}</td>
        <td>{{ value.nbr_publications }}</td>
        <td>{{ value.sci_ratio }}</td>
        <td>{{ value.first_ratio }}</td>
        <td>{{ value.swese_rating }}</td>
        <td>{{ value.swese_a }}</td>
        <td>{{ value.swese_b }}</td>
        <td>{{ value.research_interests }}</td>
        <td>{{ value.signature_papers }}</td>
      </tr>
        {% endfor %}
</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("scholarTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (n <= 1) {
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      else {
        if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
        else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>