<style>
table, th, td {
  border: 1px solid black;
}
</style>
<table>
  <tr>
    <th>Scholar</th>
    <th>Affiliation</th>
    <th>#Publications</th>
    <th>#SCI ratio</th>
    <th>#1st ratio</th>
  </tr>
        {% for value in swese_scholars  %}
      <tr>
        <td>{{ value.name }}</td>
        <td>{{ value.affiliation }}</td>
        <td>{{ value.nbr_publications }}</td>
        <td>{{ value.sci_ratio }}</td>
        <td>{{ value.first_ratio }}</td>
      </tr>
        {% endfor %}
</table>