<!DOCTYPE html>
<html>
<head>
<title>Swe-SE-SCI Scholars - Yellow Pages</title>
</head>

<style type="text/css">
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  background: #FFFF00;
}
td {
  border: 1px solid black;
}
tr:not(:first-child) {
  counter-increment: row-num;
}
td:first-child::before {
  content: counter(row-num) ". ";
}
tr:hover {
  background-color: #ececff;
  cursor: pointer;
}
</style>
<body>
<table id="yellow_pages_re" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Requirements</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">RE titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_re %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_re_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_design" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Design</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Design titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_design %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_design_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_constr" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Construction</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Construction titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_constr %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_constr_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_test" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Testing</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Testing titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_test %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_test_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_maint" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Maintenance</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Maintenance titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_maint %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_maint_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_cm" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Configuration Management</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">CM titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_cm %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_cm_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_mgmt" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Engineering Management</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Management titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_mgmt %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_mgmt_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_process" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Engineering Process</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Process titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_process %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_process_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_models" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Engineering Models and Methods</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Models and Methods titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_models %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_models_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_quality" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Quality</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Quality titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_quality %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_quality_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_practice" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Engineering Professional Practice</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Practice titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_practice %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_practice_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

<table id="yellow_pages_economics" cellpadding="10">
  <caption>SWEBOK Knowledge Area - Software Engineering Economics</caption>
  <tr>
    <th></th>
    <th onclick="sortTable(1)">Scholar</th>
    <th onclick="sortTable(2)">Affiliation</th>
    <th onclick="sortTable(3)">Economics titles</th>
    <th onclick="sortTable(4)">Apparent research interests</th>
  </tr>
  <tr>
    <td></td>
    {% for value in sss_economics %}
    <td>{{ value.name }}</td>
    <td>{{ value.affiliation }}</td>
    <td>{{ value.swebok_economics_string }}</td>
    <td>{{ value.research_interests_string }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>